/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 2000px;
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 200%;
}

h2 {
    width: 100%;
    padding: 2% 2%;
    line-height: 40px;;
}

p {
    padding: 2% 2%;
}

/* Nav bar */

nav {
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    margin: 2.15em 2em;
    padding-left: 2em;
}

#home-nav {
    list-style: none;
}

/* Header and footer */

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

/* First Section */

.main {
    width: 50%;
    height: auto;
    margin: 10% 25%;
    background-color: black;
    font-size: 1.5rem;
}

.dj {
    width: 100%;
    height: auto;
    padding: 1% 2%;
}

button {
    width: 96%;
    height: 2.5rem;
    margin: 1% 2%;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: 4px solid white;
}

.email {
    background-color: limegreen;
    color: white;
}

.facebook {
    margin-bottom: 4%;
    background-color: white;
    color: limegreen;
    border-color: limegreen;
}

.email:hover,
.facebook:hover {
    background-color: black;
}

/* Info Section */

.info {
    margin-bottom: 2%;
    flex-direction: column;
    text-align: center;
}

.info > img {
    margin: 5% auto 1% auto;
}

.info > p,
.info > h2 {
    margin: auto 20%;
}

/* Back to top */

.top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    color: white;
    text-decoration: none;
}

.top:hover {
    color: limegreen;
}

.top:active {
    color: white;
}