/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 2000px;
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 200%;
}

h2 {
    width: 100%;
    padding: 2%;
    line-height: 40px;;
}

p {
    padding: 2%;
}

/* Nav bar */

#menu {
    display: none;
}

nav {
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    margin: 2.15em 2em;
    padding-left: 2em;
}

#home-nav {
    list-style: none;
}

#mobile-nav {
    display: none;
}

/* Header and footer */

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

/* First Section */

.main {
    width: 50%;
    height: auto;
    margin: 10% 25%;
    background-color: black;
    font-size: 1.5rem;
}

.dj {
    width: 100%;
    height: auto;
    padding: 1% 2%;
}

button {
    width: 96%;
    height: 2.5rem;
    margin: 1% 2%;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: 4px solid white;
}

.email {
    background-color: limegreen;
    color: white;
}

.facebook {
    margin-bottom: 4%;
    background-color: white;
    color: limegreen;
    border-color: limegreen;
}

.email:hover,
.facebook:hover {
    background-color: black;
}

/* Info Section */

.info {
    margin-bottom: 2%;
    flex-direction: column;
    text-align: center;
}

.info > img {
    margin: 5% auto 1% auto;
}

.info > p,
.info > h2 {
    margin: auto 20%;
}

/* Back to top */

.top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    color: white;
    text-decoration: none;
}

.top:hover {
    color: limegreen;
}

.top:active {
    color: white;
}

/* Mobile Version */

@media only screen and (max-width: 420px) and (min-width: 200px) {

    /* Universal */

    h2 {
        font-size: 1.5rem;
        line-height: 30px;
    }

    p {
        font-size: 1rem;
        line-height: 25px;
    }

    /* Nav bar */

    nav {
        margin: 0;
        padding: 0;
    }

    .items {
        display: none;
    }

    #menu {
        display: block;
        width: 20%;
        margin: 3%;
        font-size: 1.25rem;
        background-color: black;
        color: white;
        border: 2px solid black;
    }

    #menu:hover,
    #menu:active {
        border: 2px solid white;
    }

    #mobile-nav {
        display: none;
        width: 100%;
        height: auto;
        background-color: black;
        position: relative;
        top: -1px;
    }

    h3 {
        font-size: 1rem;
        padding: 0 5%;
        border-bottom: 1px solid white;
    }

    li {
        margin: 0 15%;
        padding: 0;
    }

    h3:hover,
    li:hover {
        color: grey;
    }

    #close {
        text-align: right;
        border-bottom: 0;
    }

    #last {
        border-bottom: 1px solid black;
    }

    /* First Section */

    .main {
        width: 80%;
        margin: 10% 10%;
    }

    .main > button {
        height: 3rem;
        font-size: 1rem;
    }

}