/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Nav bar */

nav {
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li {
    margin: 2.15em 2em;
    padding-left: 2em;
}

#home-nav {
    list-style: none;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

/* First Section */

section {
    width: 60%;
    margin: 10% 20%;
    background-color: black;
}