* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header {
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: black;
}

li {
    display: inline-block;
}